body {
  margin: 0;
  padding: 20px 40px; //20px top and bottom, 40px left and right
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
//  set anchor tag for link not to have underline
a {
  text-decoration: none;
  color: black;
}
